<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/composer.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    
    <title>Main page</title>
</head>
<body>
    <!--the back arrow redirects to the main page-->
    <a href=""><img src="../svg/left-arrow-circle2-svgrepo-com.svg" alt="" style="height: 50px" class="pdfIcon"></a>
    <h1><%= result['FirstName'] %> <%= result['LastName'] %></h1>
    <div style="height: 50px"></div>
    <img src="<%= result['Image'] %>" style="height: 400px" alt="">
    <div style="height: 50px"></div>
    <p>Born: <%= result['DateofBirth'] %>. Died: <%= result['DateofDeath'] %></p>
    <p><%= result['Text'] %></p>
    <a href="<%= result['FurtherInfoLink'] %>"><p>Further information (external link)</p></a>
</body>
</html>