<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/piece.css" rel="stylesheet" >
    <script src="../js/bootstrap.min.js"></script>
    
    <script src="../js/opensheetmusicdisplay.min.js"></script>
    
    <title>Music piece</title>
</head>
<body>

    <!--the navbar comes first-->
    <nav class="navbar sticky-top navbar-light p-2">
      <h3 class="navbarHeader"><a class="navbarMainLink" href="/">Classical Catalog</a></h3>
      <!--the link-underline-opacity-0 property removes the underline effect from the link-->
      <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
    </nav>

    <!--the back arrow redirects to the previous page-->
    <a href="<%= previousURL %>"><img src="../svg/left-arrow-circle2-svgrepo-com.svg" alt="" style="height: 50px" class="pdfIcon"></a>

  <div class="mainBody">

    <h1><%= result['Title'] %></h1>
    <% if(result['NoofParts'] != 1) { %>
      <h2>Part <%= result['Part'] %> of <%= result['NoofParts'] %></h2>
    <% } %>
    <h2>Composed by <%= result['Composer'] %></h2>

    <div class="separator"></div>

    <div class="row">
      <div class="col-lg">
        <h3>Details</h3>
        <p>Genre: <%= result['Genre'] %></p>
        <p>Key: <%= result['Key'] %></p>
        <p>Instruments: <%= result['Instruments'] %></p>
        <p>Year of composition: <%= result['Year'] %></p>
        <p>Source: <a href="<%= result['Link'] %>" class="aboutlink"><%= result['Link'] %></a></p>
    
        <!--this page leads the user to further information about the composer-->
        <p><a href="/composers/<%= composer['ID'] %>">Information about the composer</a></p>
        <p><a href="<%= furtherWorksURL %>">More from this composer</a></p>
      </div>
      <div class="col-lg">
        <!--PDF icon from svgrepo.com, CC0 license-->
        <!--the link to the PDF and XML files of the score-->
        <h3>The score</h3>
        <p><a href="/works/<%= result['ID'] %>/pdf""><img src="../svg/pdf-file-format-symbol-svgrepo-com.svg" alt="" style="height: 50px" class="icon"></a></p>
        <div style="height: 1em;"></div>
        <!--the icon here is the same as the icon above-->
        <p><a href="/works/<%= result['ID'] %>/xml"><img src="../svg/svgicon.svg" alt="" style="height: 50px" class="icon"></a></p>
      </div>
    </div>
    
    <div class="separator"></div>

    <!--the following divs contain the links to the individual performances and manuscripts-->
    <div class="row">
      <div class="col-lg">
        <h3>Manuscripts</h3>

        <p><%= result['ManuscriptText1'] %> <a href="<%= result['ManuscriptLink1'] %>">(link)</a></p>
        <% if(result['ManuscriptLink2']) { %>
          <p><%= result['ManuscriptText2'] %> <a href="<%= result['ManuscriptLink2'] %>">(link)</a></p> 
        <% } %>
      </div>
      <div class="col-lg">
        <h3>Performances</h3>

        <p><%= result['PerformanceText1'] %> <a href="<%= result['PerformanceLink1'] %>">(link)</a></p> 
          <% if(result['PerformanceLink2']) { %>
        <p><%= result['PerformanceText2'] %> <a href="<%= result['PerformanceLink2'] %>">(link)</a></p> 
        <% } %>
      </div>
    </div>
    
    <div class="separator"></div>
  
    <h3>Preview</h3>

    <!--this div contains the score as rendered by OSMD-->
    <!--the height of the score can be adjusted here-->
    <!--contains the XML data-->
    <div id="sheetMusicContainer">
    </div>

    <script>
      
        var XMLStartString = `<%= result['XML'] %>`;
        //in order for the string to be useable, the 
        var XMLUnescapedString = XMLStartString.replace(/&amp;/g, '&')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&quot;/g, '"')
        .replace(/&#34;/g, '"')
        .replace(/&#39;/g, "'");;

        var XMLString = XMLUnescapedString;

        //var osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay("sheetMusicContainer");
        var osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay("sheetMusicContainer");
        osmd.setOptions({
          //all options see https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/blob/master/src/OpenSheetMusicDisplay/OSMDOptions.ts
          backend: "svg",
          //disabled, because the credits are already displayed above
          drawCredits: false,
          drawingParameters: "compacttight", //doesn't display title, composer etc., smaller margins
          drawUpToMeasureNumber: 2 //draws only the first two measures, to save space
        });
        //reducing the size of the score that it doesn't overwhelme the entire page
        osmd.zoom = 0.01;
        osmd
          .load(XMLString)
          .then(
            function() {
              osmd.render(); 
            }
          );
      </script>

<div class="separator"></div>

  </div>

</body>
</html>