<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/results.css">
    <script src="js/bootstrap.min.js"></script>
    
    <title>Search results</title>
  </head>
  <body>
      
    <!--the navbar-->
    <nav class="navbar sticky-top navbar-light p-2">
      <h3 class="navbarHeader"><a class="navbarMainLink" href="/">Classical Catalog</a></h3>
      <!--the link-underline-opacity-0 property removes the underline effect from the link-->
      <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
    </nav>

    <div class="separator"></div>

    <div class="mx-auto" style="align-content: center;">
        <h1>Search results for "<%= term %>"</h1>
        <!--the number of results comes from the length variable-->
        <h2 class="centertext"> <%= length %> results found!</h2>
    </div>
    
    <!--a spacer-->
    <div style="height: 20px"></div>

    <!--based on https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application-->
    <!--the Math.floor ensures that the result is always an integer-->
      <% for(var i=0; i<(Math.ceil(result.length/2)); i++) {%>

        <!--https://codepen.io/nikki-peel/pen/RwavQer-->
        <!--w-50 means 50% of page width, and mx-auto centers the card-->
        <div class="row">
          <% if(result[i*2]) { %>
          <div class="col-lg">
            <div class="card w-75 mx-auto border-gradient border-gradient-blue rounded-2">
              <div class="row card-body mh-50">
                <div class="col-8">
                  <h2 class="card-title"><%= result[i*2]['Title'] %></h2>
                  <h3 class="card-subtitle mb-2"><%= result[i*2]['Composer'] %></h3>
                  <% if(result[i*2]['NoofParts'] != 1){ %>
                    <h4 class="card-subtitle mb-2">Part <%= result[i*2]['Part'] %> of <%= result[i*2]['NoofParts'] %></h4>
                  <% } %>
                  <p><%= result[i*2]['Year'] %></p>
                  <!--https://stackoverflow.com/questions/42609853/i-want-to-make-href-tag-dynamic-and-value-will-be-populated-and-i-have-ejs-templ-->
                  <!--icon from https://feathericons.com/, MIT license-->
                  <a href="/works/<%= result[i]['ID'] %>" class="btn card-link">Score</a>
                </div>
                <div class="col-md">
                  <!--embedding the image from the images folder, using the ID of the piece-->
                  <img class="col-8 cardImage img-thumbnail float-end mw-50" src="/img/<%= result[i]['ID'] %>.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if(result[i*2 + 1]) { %>
          <div class="col-lg">
            <div class="card w-75 mx-auto border-gradient border-gradient-blue rounded-2">
              <div class="row card-body mh-50">
                <div class="col-8">
                  <h2 class="card-title"><%= result[i*2 + 1]['Title'] %></h2>
                  <h3 class="card-subtitle mb-2"><%= result[i*2 + 1]['Composer'] %></h3>
                  <% if(result[i*2 + 1]['NoofParts'] != 1){ %>
                    <h4 class="card-subtitle mb-2">Part <%= result[i*2 + 1]['Part'] %> of <%= result[i*2 + 1]['NoofParts'] %></h4>
                  <% } %>
                  <p><%= result[i*2 + 1]['Year'] %></p>
                  <!--https://stackoverflow.com/questions/42609853/i-want-to-make-href-tag-dynamic-and-value-will-be-populated-and-i-have-ejs-templ-->
                  <!--icon from https://feathericons.com/, MIT license-->
                  <a href="/works/<%= result[i]['ID'] %>" class="btn card-link">Score</a>
                </div>
                <div class="col-md">
                  <img class="col-8 cardImage img-thumbnail float-end mw-50" src="/img/<%= result[i]['ID'] %>.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
          <!--including an empty column on the right in case there is an odd number of results-->
          <% } else { %>
            <div class="col-lg">

            </div>
          <% } %>
        </div>
      </div>
    </div>
     <% } %>
  
  </body>
</html>

