<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/results.css">
    <script src="js/bootstrap.min.js"></script>

    <!--on this page, OpenSheetMusicDisplay is used to show a preview of the score-->
    <script src="../../js/opensheetmusicdisplay.min.js"></script>

    <!--https://gist.github.com/imolorhe/f8794d3bb55e1a8065b23bcd0efeebe1-->
    
    <title>Search results</title>
  </head>
  <body>

        <!--the sticky navbar-->
        <nav class="navbar sticky-top navbar-light bg-light">
          <h3 class="navbarHeader"><a class="navbarMainlink" href="/">Music database</a></h3>
          <!--the link-underline-opacity-0 property removes the underline effect from the link-->
          <a class="navbarAboutlink link-underline link-underline-opacity-0" href="/about">About</a>
        </nav>

    <div class="mx-auto" style="align-content: center;">
        <h1>Search results for "<%= term %>"</h1>
        <h2 class="centertext"> <%= length %> results found!</h2>
    </div>
    
    <!--a spacer-->
    <div style="height: 20px"></div>

    

    <!--based on https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application-->
    
      <% for(var i=0; i<result.length; i++) {%>

        <!--https://codepen.io/nikki-peel/pen/RwavQer-->
        <!--w-50 means 50% of page width, and mx-auto centers the card-->
        <div class="row">
          <div class="col-lg">
            <div class="card w-50 mx-auto border-gradient border-gradient-blue rounded-2">
              <div class="row card-body">
                <div class="col-lg">
                  <h2 class="card-title"><%= result[i]['Title'] %></h2>
                  <h3 class="card-subtitle mb-2"><%= result[i]['Composer'] %></h3>
                  <p class="card-text"><%= result[i]['Genre'] %></p>
                  <!--https://stackoverflow.com/questions/42609853/i-want-to-make-href-tag-dynamic-and-value-will-be-populated-and-i-have-ejs-templ-->
                  <!--icon from https://feathericons.com/, MIT license-->
                  <a href="/works/<%= result[i]['ID'] %>" class="btn card-link"><img src="svg/feather-link-2.svg" alt="" style="height: 20px"></img></a>
                </div>
                <img class="col-sm-4" src="data:image/jpeg;base64,<%- result[i]['Image'] %>" alt="">
              </div>
            </div>
          </div>
        </div>
        <!--<div class="card w-50 mx-auto border-gradient border-gradient-blue">
            <div class="card-body">
                <h2 class="card-title"><%= result[i]['Title'] %></h2>
                <h3 class="card-subtitle mb-2"><%= result[i]['Composer'] %></h3>
                <p class="card-text"><%= result[i]['Genre'] %></p>
                <!--https://stackoverflow.com/questions/42609853/i-want-to-make-href-tag-dynamic-and-value-will-be-populated-and-i-have-ejs-templ-->
                <!--icon from https://feathericons.com/, MIT license-->
                <!--<a href="/works/<%= result[i]['ID'] %>" class="btn card-link"><img src="svg/feather-link-2.svg" alt="" style="height: 20px"></img></a>
                <img src="data:image/jpeg;base64,<%- result[i]['Image'] %>" alt="">-->

              
            </div>
    </div>
     <% } %>

        <!--https://www.bootdey.com/snippets/view/General-Search-Results#html-->
    

        <script>
          //https://stackoverflow.com/questions/70015641/how-can-i-use-pdf-js-to-display-the-first-page-of-every-user-uploaded-pdf-file-a
          //this script should get the first page of a pdf file and render it to a canvas
          
          //https://mozilla.github.io/pdf.js/examples/
          


          
        </script>

  </body>
</html>

