<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/results.css">
    <script src="js/bootstrap.min.js"></script>

    <!--on this page, OpenSheetMusicDisplay is used to show a preview of the score-->
    <script src="../../js/opensheetmusicdisplay.min.js"></script>
    
    <title>Search results</title>
  </head>
  <body>

    <div class="mx-auto">
        <h1>Search results for <%= term %></h1>
        <h2> <%= length %> results found!</h2>
    </div>
    

    

    <!--based on https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application-->
    
      <% for(var i=0; i<result.length; i++) {%>

        <!--https://codepen.io/nikki-peel/pen/RwavQer-->
        <!--w-50 means 50% of page width, and mx-auto centers the card-->
        <div class="card w-50 mx-auto">
            <div class="card-body">
                <h2 class="card-title"><%= result[i]['Title'] %></h2>
                <h3 class="card-subtitle mb-2"><%= result[i]['Composer'] %></h3>
                <p class="card-text"><%= result[i]['Genre'] %></p>
                <!--https://stackoverflow.com/questions/42609853/i-want-to-make-href-tag-dynamic-and-value-will-be-populated-and-i-have-ejs-templ-->
                <!--icon from https://feathericons.com/, MIT license-->
                <a href="/works/<%= result[i]['ID'] %>" class="btn card-link"><img src="svg/feather-link-2.svg" alt="" style="height: 20px"></img></a>
                <div id="sheetMusicContainer"></div>

                <script>
                  var XMLStartString = `<%= result['XML'] %>`;
                  var XMLUnescapedString = XMLStartString.replace(/&amp;/g, '&')
                  .replace(/&lt;/g, '<')
                  .replace(/&gt;/g, '>')
                  .replace(/&quot;/g, '"')
                  .replace(/&#34;/g, '"')
                  .replace(/&#39;/g, "'");;
      
                  var XMLString = XMLUnescapedString;

                  var osmd = new opensheetmusicdisplay.OpenSheetMusicDisplay("sheetMusicContainer");
        osmd.setOptions({
          //all options see https://github.com/opensheetmusicdisplay/opensheetmusicdisplay/blob/master/src/OpenSheetMusicDisplay/OSMDOptions.ts
          backend: "svg",
          //disabled, because the credits are already displayed above
          drawCredits: false,
          drawingParameters: "compacttight", // don't display title, composer etc., smaller margins
          drawUpToMeasureNumber: 1 //this only draws the first measure, this conserves resources
        });
        osmd
          .load(XMLString)
          .then(
            function() {
              osmd.render(); 
            }
          );
                </script>
            </div>
    </div>
     <% } %>

        <!--https://www.bootdey.com/snippets/view/General-Search-Results#html-->
    

  </body>
</html>

